<div class="h-100 container-lg vstack" *ngIf="combat">
  <div [ngStyle]="{ 'height.%': 10 }">
    <app-opponent-side-elements [combat]="combat"> </app-opponent-side-elements>
  </div>
  <div [ngStyle]="{ 'height.%': 35 }">
    <app-combat-side-common-elements
      [combat]="combat"
      [side]="combat.opponent"
      [invert]="true"
    ></app-combat-side-common-elements>
  </div>
  <div [ngStyle]="{ 'height.%': 35 }">
    <app-combat-side-common-elements
      [combat]="combat"
      [side]="combat.player"
    ></app-combat-side-common-elements>
  </div>
  <div [ngStyle]="{ 'height.%': 20 }">
    <app-player-side-elements
      [combat]="combat"
      (play)="play($event)"
      (endTurn)="endTurn()"
    >
    </app-player-side-elements>
  </div>
</div>
