<script src="../asset-icon/asset-icons.ts"></script>
<ng-container [ngSwitch]="element">
  <ng-container *ngSwitchCase="Element.Neutral">
    <i class="bi bi-yin-yang" ngbTooltip="Neutral"></i>
  </ng-container>
  <ng-container *ngSwitchCase="Element.Earth">
    <app-asset-icon icon="three-leaves" size="sm" [pxOffsetY]="2" ngbTooltip="Earth"></app-asset-icon>
  </ng-container>
  <ng-container *ngSwitchCase="Element.Fire">
    <app-asset-icon icon="fire" size="sm" [pxOffsetY]="2" ngbTooltip="Fire"></app-asset-icon>
  </ng-container>
  <ng-container *ngSwitchCase="Element.Water">
    <app-asset-icon icon="water-drop" size="sm" [pxOffsetY]="2" ngbTooltip="Water"></app-asset-icon>
  </ng-container>
  <ng-container *ngSwitchCase="Element.Wind">
    <app-asset-icon icon="sandstorm" size="sm" [pxOffsetY]="2" ngbTooltip="Wind"></app-asset-icon>
  </ng-container>
</ng-container>
