<ng-container *ngIf="effect && effect.entries">
  <div class="hstack">
    <div class="pe-1">
      <i class="bi bi-dice-2-fill"></i>
    </div>
    <ng-container *ngFor="let effect of effect?.entries ?? []">
      <div class="hstack gap-1" *ngIf="effect">
        <span class="fw-semibold text-nowrap">
          {{ effect.probability | percent }}:
        </span>
        <app-active-effect-line [effect]="effect.effect">
        </app-active-effect-line>
      </div>
    </ng-container>
  </div>
</ng-container>
