<ng-container [ngSwitch]="effectType">
  <ng-container *ngSwitchCase="ActiveEffectType.Damage">
    <app-damage-effect-line [effect]="$any(effect)"></app-damage-effect-line>
  </ng-container>
  <ng-container *ngSwitchCase="ActiveEffectType.Heal">
    <app-heal-effect-line [effect]="$any(effect)"></app-heal-effect-line>
  </ng-container>
  <ng-container *ngSwitchCase="ActiveEffectType.Shield">
    <app-shield-effect-line [effect]="$any(effect)"></app-shield-effect-line>
  </ng-container>
  <ng-container *ngSwitchCase="ActiveEffectType.Random">
    <app-random-effect-line [effect]="$any(effect)"></app-random-effect-line>
  </ng-container>
  <ng-container *ngSwitchCase="ActiveEffectType.AddEnchantment">
    <app-add-enchantment-effect-line [effect]="$any(effect)"> </app-add-enchantment-effect-line>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-template [ngTemplateOutlet]="unknownLine" [ngTemplateOutletContext]="{ $implicit: effect }"></ng-template>
  </ng-container>
</ng-container>

<ng-template #unknownLine let-effect>
  <div class="text-nowrap">__effect__ {{ effect?.toJSON().type }}</div>
</ng-template>
