<ng-container *ngIf="combat">
  <div class="h-100 w-100 container-fluid hstack p-4">
    <div class="flex-fill hstack justify-content-center gap-2">
      <button
        class="btn m-0 p-0 position-relative"
        [class.highlight]="hoveredCharacter === card.character"
        style="height: 100%; width: 175px"
        (click)="sendPlay(i)"
        *ngFor="let card of combat.player.hand; let i = index"
      >
        <app-action-card-instance
          [card]="card"
          size="sm"
          [characters]="characters"
          (mouseenter)="mouseEnter(card)"
          (mouseleave)="mouseLeave(card)"
        >
        </app-action-card-instance>

        <div
          class="rounded-3 position-absolute top-0 bottom-0 start-0 end-0 pe-none"
          style="background-color: rgba(0, 0, 0, 0.05)"
          *ngIf="disabled || card.card.apCost > combat.player.ap"
        ></div>
      </button>
    </div>

    <button
      class="btn p-4"
      [class.btn-primary]="combat.currentSide === combat.player.side"
      [class.btn-disabled]="combat.currentSide !== combat.player.side"
      [disabled]="disabled"
      (click)="sendEndTurn()"
    >
      End Turn
    </button>
  </div>
</ng-container>
