<ng-container *ngIf="combat">
  <div class="h-100 w-100 container-fluid hstack p-4">
    <div class="flex-fill hstack justify-content-center gap-2">
      <button
        class="btn m-0 p-0"
        style="height: 100%; width: 175px"
        [class.btn-disabled]="disabled || card.card.apCost > combat.player.ap"
        [disabled]="disabled || card.card.apCost > combat.player.ap"
        (click)="play.emit(i)"
        *ngFor="let card of combat.player.hand; let i = index"
      >
        <app-action-card [card]="card.baseCard" size="sm"> </app-action-card>
      </button>
    </div>

    <button
      class="btn p-4"
      [class.btn-primary]="combat.currentSide === combat.player.side"
      [class.btn-disabled]="combat.currentSide !== combat.player.side"
      [disabled]="disabled"
      (click)="endTurn.emit()"
    >
      End Turn
    </button>
  </div>
</ng-container>
