/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;

  --damage-card-color: #c6303e;
  --heal-card-color: #13795b;
  --shield-card-color: #0d6efd;
  --enchantment-card-color: #4c0bce;
  --other-card-color: #6c757d;

  --text-on-damage-card-color: #fff;
  --text-on-heal-card-color: #fff;
  --text-on-shield-card-color: #fff;
  --text-on-enchantment-card-color: #fff;
  --text-on-other-card-color: #fff;

  --health-color: #c6303e;
  --shield-color: #0d6efd;
  --enchantment-color: #4c0bce;

  --self-color: #13795b;
  --ally-color: #0d6efd;
  --enemy-color: #c6303e;

  --neutral-color: black;
  --fire-color: #ff6a00;
  --earth-color: #70360a;
  --water-color: #0dcaf0;
  --wind-color: #75ef2a;

  --text-on-neutral-color: white;
  --text-on-fire-color: black;
  --text-on-earth-color: white;
  --text-on-water-color: black;
  --text-on-wind-color: black;
}

.damage-card-color {
  color: var(--damage-card-color);
}

.heal-card-color {
  color: var(--heal-card-color);
}

.shield-card-color {
  color: var(--shield-card-color);
}

.enchantment-card-color {
  color: var(--enchantment-card-color);
}

.shield-color {
  color: var(--shield-color);
}

.health-color {
  color: var(--health-color);
}

.enchantment-color {
  color: var(--enchantment-color);
}

.enchantment-color {
  color: var(--enchantment-color);
}

.neutral-color {
  color: var(--neutral-color);
}

.fire-color {
  color: var(--fire-color);
}

.earth-color {
  color: var(--earth-color);
}

.water-color {
  color: var(--water-color);
}

.wind-color {
  color: var(--wind-color);
}
