<div
  class="card p-1 hstack gap-1 user-select-none"
  [class.small]="size === 'sm'"
  [ngStyle]="{
    backgroundColor: 'var(' + bgColorCssVariable + ')',
    color: 'var(' + textColorCssVariable + ')'
  }"
  [stickyPopover]="enablePopoverDetails ? cardTpl : null"
  [placement]="popoverDetailsPlacement"
>
  <app-action-card-type-icon [card]="card"></app-action-card-type-icon>

  <span class="text-truncate flex-fill" [title]="card?.name ?? '???'">
    {{ card?.name ?? '???' }}
  </span>

  <app-card-damage [element]="damage.element" *ngIf="damage"></app-card-damage>

  <div class="vr"></div>

  <span class="hstack gap-1">
    <app-action-points-icon size="sm"></app-action-points-icon>
    {{ card?.apCost }}
  </span>

  <i class="bi bi-stopwatch" *ngIf="isTriggered"></i>
</div>

<ng-template #cardTpl>
  <app-action-card [card]="card" [contentOnly]="true"></app-action-card>
</ng-template>
