<div
  class="card p-1 hstack gap-2 user-select-none"
  [ngStyle]="{
    backgroundColor: 'var(' + bgColorCssVariable + ')',
    color: 'var(' + textColorCssVariable + ')'
  }"
  [ngbPopover]="enablePopoverDetails ? cardTpl : null"
  container="body"
  [placement]="popoverDetailsPlacement"
  triggers="mouseenter:mouseleave"
>
  <app-action-card-type-icon [card]="card"></app-action-card-type-icon>

  <span class="text-nowrap flex-fill">{{ card?.name ?? "???" }}</span>

  <app-card-damage [element]="damage.element" *ngIf="damage"></app-card-damage>

  <div class="vr"></div>

  <span class="hstack gap-1">
    <app-action-points [value]="card?.apCost"></app-action-points>
  </span>

  <i class="bi bi-stopwatch" *ngIf="isTriggered"></i>
</div>

<ng-template #cardTpl>
  <app-action-card [card]="card" [contentOnly]="true"></app-action-card>
</ng-template>
