<ng-container *ngIf="!contentOnly">
  <div class="card p-2">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </div>
</ng-container>
<ng-container *ngIf="contentOnly">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</ng-container>

<ng-template #content>
  <div class="vstack gap-2">
    <header class="hstack gap-2">
      <app-character-img [character]="character"></app-character-img>
      <div class="fs-4 text-nowrap">
        {{ character?.identity?.displayName ?? "???" }}
      </div>
    </header>

    <section>
      <div class="fw-bold">Description</div>
      <div>{{ character?.identity?.description ?? "???" }}</div>
    </section>

    <section>
      <div class="fw-bold">Statistics</div>
      <div>
        <span class="fw-bold">HP:</span>
        {{ character?.statistics?.maxHealth ?? "???" }}
      </div>
    </section>

    <section>
      <div class="fw-bold">Cards</div>
      <div class="vstack gap-1" *ngIf="!!character?.deck">
        <app-action-card-chip
          [card]="card"
          [enablePopoverDetails]="enablePopoverDetails"
          [popoverDetailsPlacement]="popoverDetailsPlacement"
          *ngFor="let card of character?.deck"
        ></app-action-card-chip>
      </div>
    </section>
  </div>
</ng-template>
