<div class="d-flex align-items-center justify-content-center">
  <button
    class="border border-1 d-flex align-items-center justify-content-center"
    [class.border-4]="characterBeingDragged"
    [ngStyle]="{ 'width.px': imgSize, 'height.px': imgSize }"
    [ngbPopover]="character && enablePopoverDetails ? popover : null"
    container="body"
    triggers="mouseenter:mouseleave"
    (dragenter)="dragenter($event); $event.preventDefault()"
    (dragover)="$event.preventDefault()"
    (dragleave)="dragleave()"
    (drop)="ondrop($event)"
    (click)="pressed.emit($event)"
  >
    <span
      class="fw-bold pe-none user-select-none"
      [ngClass]="fontSizeClass"
      *ngIf="!character"
    >
      ?
    </span>
    <span
      class="fw-bold pe-none user-select-none"
      [ngClass]="fontSizeClass"
      *ngIf="character"
    >
      {{ character.identity.displayName.substring(0, 2) }}
    </span>
  </button>
</div>

<ng-template #popover>
  <app-character-card
    [character]="character"
    [contentOnly]="true"
  ></app-character-card>
</ng-template>
