<div class="d-flex align-items-center justify-content-center">
  <div
    class="border border-1 d-flex align-items-center justify-content-center position-relative"
    [class.border-4]="characterBeingDragged"
    [class.text-light]="bgMode === 'dark'"
    [ngStyle]="{ 'width.px': imgSize, 'height.px': imgSize }"
    [ngbPopover]="
      size === 'sm' && character && enablePopoverDetails ? popover : null
    "
    container="body"
    triggers="mouseenter:mouseleave"
    [placement]="popoverPlacement"
    (dragenter)="dragenter($event); $event.preventDefault()"
    (dragover)="$event.preventDefault()"
    (dragleave)="dragleave()"
    (drop)="ondrop($event)"
  >
    <span
      class="fw-bold pe-none user-select-none"
      [ngClass]="fontSizeClass"
      *ngIf="!character"
    >
      ?
    </span>
    <span
      class="fw-bold pe-none user-select-none"
      [ngClass]="fontSizeClass"
      *ngIf="character"
    >
      {{ character.identity.displayName.substring(0, 2) }}
    </span>

    <img
      #img
      [ngSrc]="imgPath"
      fill="true"
      *ngIf="imgPath"
      (error)="img.style.display = 'none'"
    />

    <ng-container *ngIf="character && enablePopoverDetails">
      <ng-container [ngSwitch]="size">
        <ng-container *ngSwitchCase="'sm'"></ng-container>
        <div
          class="position-absolute top-0 end-0"
          [ngbPopover]="popover"
          container="body"
          triggers="mouseenter:mouseleave"
          *ngSwitchCase="'md'"
        >
          <i class="bi bi-info"></i>
        </div>

        <div
          class="position-absolute top-0 end-0 pe-1"
          [ngbPopover]="popover"
          container="body"
          triggers="mouseenter:mouseleave"
          *ngSwitchDefault
        >
          <i class="bi bi-info-circle"></i>
        </div>
      </ng-container>
    </ng-container>

    <div
      class="position-absolute bottom-0 start-0 end-0 text-center small"
      *ngIf="footer"
    >
      {{ footer }}
    </div>
  </div>
</div>

<ng-template #popover>
  <app-character-card
    [character]="character"
    [contentOnly]="true"
  ></app-character-card>
</ng-template>
