<section class="container">
  <h1>
    Combats
    <button class="btn btn-secondary" [routerLink]="'../creation'">
      <i class="bi bi-plus"></i> Create
    </button>
  </h1>
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let combat of combatsInPreparation"
    >
      {{ combat.id }} (in preparation)
    </a>
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let combat of combats"
    >
      {{ combat.id }}
    </a>
  </div>
</section>
