<div class="h-100 vstack">
  <h3 class="text-center">{{ name ?? "???" }}</h3>
  <h4 class="text-center">Select characters</h4>

  <div class="overflow-y-auto" style="max-height: 50vh">
    <ul class="list-group">
      <a
        *ngFor="let character of characters"
        (click)="select(character)"
        class="list-group-item list-group-item-action"
        [class.active]="isSelected(character)"
        draggable="true"
        (dragstart)="dragCharacter($event, character)"
        [ngbPopover]="characterCardTpl"
        container="body"
        [popoverContext]="{ $implicit: character }"
        [placement]="invertSlotPositions ? 'right' : 'left'"
        triggers="mouseenter:mouseleave"
        [class.disabled]="disabled"
      >
        {{ character.identity.displayName }}
      </a>
    </ul>
  </div>

  <hr />

  <section>
    <h3 class="text-center">
      Team
      <button
        class="btn btn-outline-secondary"
        ngbTooltip="Swap"
        [disabled]="disabled"
        (click)="swap()"
      >
        <i class="bi bi-arrow-left-right"></i>
      </button>
    </h3>
    <div class="row">
      <ng-container *ngIf="!invertSlotPositions">
        <ng-container [ngTemplateOutlet]="frontCharacterTpl"></ng-container>
        <ng-container [ngTemplateOutlet]="backCharacterTpl"></ng-container>
      </ng-container>
      <ng-container *ngIf="invertSlotPositions">
        <ng-container [ngTemplateOutlet]="backCharacterTpl"></ng-container>
        <ng-container [ngTemplateOutlet]="frontCharacterTpl"></ng-container>
      </ng-container>
    </div>
  </section>

  <div class="flex-fill"></div>

  <button
    class="btn"
    [class.btn-outline-secondary]="!ready"
    [class.btn-secondary]="ready"
    [disabled]="readonly"
    (click)="setReady(!ready)"
  >
    Ready
  </button>
</div>

<ng-template #frontCharacterTpl>
  <div class="w-50 col vstack">
    <h4 class="text-center">
      Front
      <button
        type="button"
        class="btn-close p-0"
        [ngStyle]="{ 'width.em': 0.75, 'height.em': 0.75 }"
        ngbTooltip="Clear"
        aria-label="Close"
        [disabled]="disabled"
        (click)="unselect('front')"
        *ngIf="frontCharacter"
      ></button>
    </h4>
    <app-character-img
      [character]="frontCharacter"
      size="lg"
      [enablePopoverDetails]="true"
      (dropped)="dropCharacter($event, 'front')"
    ></app-character-img>
    <app-character-card
      class="mt-2"
      [character]="frontCharacter"
      [enablePopoverDetails]="true"
      [popoverDetailsPlacement]="invertSlotPositions ? 'right' : 'left'"
      *ngIf="frontCharacter"
    ></app-character-card>
  </div>
</ng-template>

<ng-template #backCharacterTpl>
  <div class="w-50 col vstack">
    <h4 class="text-center">
      Back
      <button
        type="button"
        class="btn-close p-0"
        [ngStyle]="{ 'width.em': 0.75, 'height.em': 0.75 }"
        ngbTooltip="Clear"
        aria-label="Close"
        [disabled]="disabled"
        (click)="unselect('back')"
        *ngIf="backCharacter"
      ></button>
    </h4>
    <app-character-img
      [character]="backCharacter"
      size="lg"
      (dropped)="dropCharacter($event, 'back')"
    ></app-character-img>
    <app-character-card
      class="mt-2"
      [character]="backCharacter"
      [enablePopoverDetails]="true"
      [popoverDetailsPlacement]="invertSlotPositions ? 'right' : 'left'"
      *ngIf="backCharacter"
    ></app-character-card>
  </div>
</ng-template>

<ng-template #characterCardTpl let-context>
  <app-character-card
    [character]="context"
    [contentOnly]="true"
  ></app-character-card>
</ng-template>
