<div
  class="pe-none position-absolute w-25 p-4 top-0 bottom-0 end-0 vstack justify-content-end"
>
  <app-self-closing-alert
    class="pe-auto"
    [type]="alert.type"
    [delay]="5000"
    (closed)="alertsService.dismiss(alert)"
    *ngFor="let alert of alertsService.alerts; trackBy: alertTrackByFn"
  >
    <strong *ngIf="alert.prefix">{{ alert.prefix }}</strong>
    {{ alert.message }}
    <ng-container *ngIf="alert.details">
      <br />
      <small>{{ alert.details }}</small>
    </ng-container>
  </app-self-closing-alert>
</div>
