.highlight-source {
  box-shadow: inset 0 0 3rem color-mix(in srgb, var(--self-color) 17.5%, transparent);
}

.highlight-ally {
  box-shadow: 0 0 6rem color-mix(in srgb, var(--ally-color) 17.5%, transparent);
}

.highlight-enemy {
  box-shadow: 0 0 6rem color-mix(in srgb, var(--enemy-color) 17.5%, transparent);
}
