<ng-container *ngIf="combat && side">
  <div class="h-100 container-fluid hstack" [class.flex-row-reverse]="invert">
    <div class="hstack w-50 justify-content-around" [class.flex-row-reverse]="invert">
      <app-combat-character-img
        [character]="side.backCharacter"
        footer="Back"
        size="xl"
        [innerShadow]="
          highlightSource === side.backCharacter.character.identity.name
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--self-color) 17.5%, transparent)' }
            : undefined
        "
        [outerShadow]="
          highlightEnemies.includes(side.backCharacter.character.identity.name)
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--enemy-color) 17.5%, transparent)' }
            : highlightAllies.includes(side.backCharacter.character.identity.name)
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--ally-color) 17.5%, transparent)' }
            : undefined
        "
        *ngIf="side.backCharacter"
      ></app-combat-character-img>
      <app-combat-character-img
        [character]="side.frontCharacter"
        footer="Front"
        size="xl"
        [innerShadow]="
          highlightSource === side.frontCharacter.character.identity.name
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--self-color) 17.5%, transparent)' }
            : undefined
        "
        [outerShadow]="
          highlightEnemies.includes(side.frontCharacter.character.identity.name)
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--enemy-color) 17.5%, transparent)' }
            : highlightAllies.includes(side.frontCharacter.character.identity.name)
            ? { blurInRem: 3, color: 'color-mix(in srgb, var(--ally-color) 17.5%, transparent)' }
            : undefined
        "
        *ngIf="side.frontCharacter"
      ></app-combat-character-img>
    </div>
    <div class="w-50 vstack justify-content-end" [class.flex-column-reverse]="invert">
      <div class="hstack m-4 gap-4 align-items-center justify-content-end" [class.flex-row-reverse]="invert">
        <div class="hstack gap-2">
          <app-action-points-icon></app-action-points-icon>
          <div class="me-2">{{ side.ap }}/{{ combat.maxAp }}</div>
          <div class="hstack">
            <i
              class="bi bi-diamond-fill"
              [class.text-secondary]="ap === 'empty'"
              [class.text-primary]="'filled'"
              *ngFor="let ap of aps"
            >
            </i>
          </div>
        </div>
        <div class="hstack gap-2">
          <i class="text-truncate fw-bold fs-3">{{ side.playerName }}</i>
          <i class="bi bi-cpu" ngbTooltip="AI Player" *ngIf="side.isAi"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>
