<section class="container h-100 vstack gap-4 py-4" *ngIf="combat">
  <div class="row">
    <h1 class="text-center">Combat creation</h1>
  </div>

  <div class="row row-cols-2 flex-fill overflow-y-auto">
    <div class="col">
      <app-combat-configure-side
        [combat]="combat"
        [name]="combat.leftPlayerName"
        [characters]="characters"
        [invertSlotPositions]="true"
        [readonly]="side !== CombatSide.Left"
        (leave)="leave(CombatSide.Left)"
      ></app-combat-configure-side>
    </div>
    <div class="col">
      <app-combat-configure-side
        [combat]="combat"
        [name]="combat.rightPlayerName"
        [characters]="characters"
        [readonly]="side !== CombatSide.Right"
        (leave)="leave(CombatSide.Right)"
        *ngIf="combat.rightPlayerName"
      ></app-combat-configure-side>
      <app-combat-empty-side [combat]="combat" *ngIf="!combat.rightPlayerName">
      </app-combat-empty-side>
    </div>
  </div>

  <div class="flex-fill"></div>

  <button
    class="btn btn-primary"
    [class.disabled]="!combat || !combat.leftReady || !combat.rightReady"
    [disabled]="!combat || !combat.leftReady || !combat.rightReady"
  >
    Start
  </button>
</section>
