<section class="container h-100 vstack gap-4 py-4">
  <div class="row">
    <h1 class="text-center">Combat creation</h1>
  </div>

  <div class="row flex-fill overflow-y-auto">
    <div class="col-lg">
      <app-combat-creation-side
        name="Player"
        [characters]="characters"
        [invertSlotPositions]="true"
      ></app-combat-creation-side>
    </div>
    <div class="col-lg">
      <app-combat-creation-side
        name="Opponent"
        [characters]="characters"
        [disableNameEdition]="true"
      ></app-combat-creation-side>
    </div>
  </div>

  <div class="flex-fill"></div>

  <div class="row">
    <button class="btn btn-primary">Start</button>
  </div>
</section>
