<div class="container-fluid p-0 h-100 vstack">
  <header class="border-bottom">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">PockeDeck Battler</a>
        <div class="flex-fill"></div>
        <div class="hstack gap-2" *ngIf="identityService.identity$ | async; let identity">
          <div class="fs-4 fw-bold">
            {{ identity }}
          </div>
          <button class="btn btn-outline-secondary" ngbTooltip="Logout" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
          </button>
        </div>
      </div>
    </nav>
  </header>

  <section class="flex-fill overflow-y-auto">
    <div class="h-100">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="border-top text-center">Footer</footer>
</div>

<app-alerts-container class="pe-none position-fixed top-0 bottom-0 start-0 end-0 z-"></app-alerts-container>
