<section class="container h-100 vstack gap-4 py-4" *ngIf="combat">
  <div class="row">
    <h1 class="text-center">Combat creation</h1>
  </div>

  <div class="row row-gap-4 flex-fill overflow-y-auto">
    <div class="col-lg">
      <h2>Player side</h2>
      <app-combat-configure-side
        [combat]="combat"
        [name]="combat.leftPlayerName"
        [characters]="characters"
        [invertSlotPositions]="true"
        [readonly]="side !== CombatSide.Left"
        (update)="sendUpdate(CombatSide.Left, $event)"
        (leave)="leave(CombatSide.Left)"
      ></app-combat-configure-side>
    </div>
    <div class="col-lg">
      <h2>Opponent side</h2>
      <app-combat-configure-side
        [combat]="combat"
        [name]="combat.rightPlayerName"
        [characters]="characters"
        [readonly]="side !== CombatSide.Right && !combat.rightPlayerIsAi"
        [enableNameEdition]="side !== CombatSide.Right && combat.rightPlayerIsAi"
        (update)="sendUpdate(CombatSide.Right, $event)"
        (leave)="leave(CombatSide.Right)"
        *ngIf="combat.rightPlayerName || combat.rightPlayerIsAi"
      ></app-combat-configure-side>
      <app-combat-empty-side
        [combat]="combat"
        *ngIf="!combat.rightPlayerName && !combat.rightPlayerIsAi"
        (requestAi)="setRightPlayerAi()"
      >
      </app-combat-empty-side>
    </div>
  </div>

  <div class="flex-fill"></div>

  <div class="form-floating">
    <input
      id="random-seed"
      class="form-control"
      [(ngModel)]="randomSeed"
      placeholder="Random Seed Phrase (optional)"
      (input)="randomSeedChange.next()"
    />
    <label for="random-seed">Random Seed Phrase (optional)</label>
  </div>

  <div class="vstack gap-1">
    <div class="text-success text-center" *ngIf="startedCombatId">Combat has started, click START to join!</div>

    <button
      class="btn btn-primary"
      [class.disabled]="!combat || !combat.leftReady || !combat.rightReady"
      [disabled]="!combat || !combat.leftReady || !combat.rightReady"
      (click)="start()"
    >
      Start
    </button>
  </div>
</section>
