<div *ngIf="entry">
  <div>
    <span class="fw-bold">{{ source?.displayName }}</span> used
    <span class="fw-bold" [textColorFromCard]="entry.card">{{ entry.card.name }}</span
    >.
    <br />
  </div>
  <div class="hstack flex-wrap" *ngFor="let effect of effects">
    <ng-container *ngFor="let target of effect.targets; let i = index">
      <ng-container *ngIf="i > 0">,&nbsp;</ng-container>
      <span class="fw-bold">{{ target.displayName }}</span>
    </ng-container>
    <span style="width: 0.5rem"></span>
    <ng-container [ngSwitch]="effect.effect.type">
      <app-damage-received [damageReceived]="$any(effect.effect)" *ngSwitchCase="'damage'"></app-damage-received>
      <app-shield-received [shieldReceived]="$any(effect.effect)" *ngSwitchCase="'shield'"></app-shield-received>
      <app-heal-received [healReceived]="$any(effect.effect)" *ngSwitchCase="'heal'"></app-heal-received>
      <app-enchantment-received
        [enchantment]="$any(effect.effect)"
        *ngSwitchCase="'enchantment'"
      ></app-enchantment-received>
    </ng-container>
  </div>
</div>
