<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="CardType.None">
    <i class="bi bi-dot"></i>
  </ng-container>
  <ng-container *ngSwitchCase="CardType.Damage">
    <app-asset-icon icon="screen-impact" size="sm"></app-asset-icon>
  </ng-container>
  <ng-container *ngSwitchCase="CardType.Heal">
    <i class="fw-bold" title="Heal">H</i>
  </ng-container>
  <ng-container *ngSwitchCase="CardType.Shield">
    <i class="bi bi-shield-fill" title="Shield"></i>
  </ng-container>
  <ng-container *ngSwitchCase="CardType.Effect">
    <i class="bi bi-tropical-storm" title="Effect"></i>
  </ng-container>
</ng-container>
