<ng-container *ngIf="!contentOnly">
  <div class="card p-2 h-100">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </div>
</ng-container>
<ng-container *ngIf="contentOnly">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</ng-container>

<ng-template #content>
  <div class="vstack" [class.small]="size === 'sm'">
    <app-action-card-chip [card]="card" [size]="size"></app-action-card-chip>

    <section *ngIf="size !== 'sm'">
      <div class="fw-bold">Description</div>
      <div>
        {{ card?.description ?? '???' }}
      </div>
    </section>

    <section>
      <div class="hstack gap-1">
        <span class="fw-bold">Target</span> -
        <app-action-card-target-line [target]="card?.target"> </app-action-card-target-line>
      </div>
    </section>

    <section class="flex-fill vstack justify-content-center text-start">
      <div>
        <div class="fw-bold">Effects</div>
        <div class="vstack">
          <app-active-effect-line [effect]="card?.mainEffect"></app-active-effect-line>
          <ng-container *ngIf="card?.additionalEffects">
            <app-active-effect-line
              [effect]="effect"
              *ngFor="let effect of card?.additionalEffects"
            ></app-active-effect-line>
          </ng-container>
        </div>
      </div>
    </section>
  </div>
</ng-template>
